.style1{
	/*宽度*/
	width: 800px;
	height:500px;/*一个属性后一定要一个分号*/
	background-color:silver;
	border:1px solid red;
	margin-left:400px;
	margin-top:250px;
	padding-top:20px;
	padding-left:40px;
}